/**
*Kevin Pitman, MCAD, Web Development Fall 25, Design System Study
*All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights.
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  --black: #000;
  --white: #fff;
  --neutral-gray: #fdfcf3;
  --light-yellow: #fdfbe4;
  --dark-gray: #2a2929;
  --mid-gray: #6e6e6e;
  --yellow: #ffc500;
  --light-blue: #64d5ff;
  --mid-light-gray: #e7e7e7;
  --font-serif: "plantin", serif;
  --font-sans-serif: "helvetica-neue-lt-pro", sans-serif;
}

/**
* Global Styling
**/
body {
  background-color: var(--white);
  font-family: var(--font-serif);
  color: var(--black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.444;
  font-variant-numeric: oldstyle-nums;
}
img {
  max-width: 100%;
  display: block;
}

/**
* Component Page Style
**/
.component--body {
  max-width: 83rem;
  margin: auto;
  padding: 0 1rem;
}

/**
* Component Banner
**/
.component--banner {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  padding: 1rem 0;
  position: sticky;
  top: 0;
}
.component--banner ul {
  list-style-type: none;
  display: flex;
  margin: 0 -2rem;
  gap: .5rem;
}
.component--banner a {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: .8125rem;
  font-weight: 700;
}
.component--banner a:hover {
  text-decoration: underline;
}

/**
* Component Header
**/
.component--header {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--black);
}
.component--header img {
  max-width: 48rem;
  margin: auto;
}

/**
* Component Nav
**/
.component--nav {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  margin: 0;
  padding: 0.75rem 0;
  position: sticky;
  top: 3.7rem;
}
.component--nav__list {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  gap: .5rem;
  font-size: .9rem;
  margin: 0;
}
.component--nav__list a {
  text-decoration: none;
  color: var(--black);
}
.component--nav__list a:hover {
  text-decoration: underline;
}

/**
* Component Main
**/
.component--main {
  margin: 2rem 0;
}
.component--main__header {
  border-top: 4px solid var(--black);
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}
.component--main__h2 {
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 0;
}

/**
* Component Articles
**/
.component--article__h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  margin: 1rem 0;
}
.component--img {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.component--img img{
  border: 1px solid var(--light-blue);
  padding: 1rem;
}
.component--img__subtitle {
  margin: 0;
  text-align: right;
  font-size: .8125rem;
  text-transform: uppercase;
  color: var(--mid-gray);
}
.component--code {
  margin: 1rem 0;
  padding: 1rem;
}
.component--code__subtitle {
  margin: 0;
  padding-bottom: 1rem;
  text-align: right;
  font-size: .8125rem;
  text-transform: uppercase;
  color: var(--mid-gray);
  border-bottom: 1px solid var(--black);
}

/**
* Typography
**/
.component--code__body {
  /* from default component body style */
  max-width: 40rem;
}
.component--code__h2 {
  font-size: 2rem;
  line-height: 1.2;
  max-width: 40rem;
}
.component--code__h2 a{
  text-decoration: none;
  color: var(--black);
}
.component--code__h2 a:hover{
  text-decoration: underline;
}
.component--code__h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  max-width: 18rem;
}
.component--code__h3 a{
  text-decoration: none;
  color: var(--black);
}
.component--code__h3 a:hover{
  text-decoration: underline;
}

/**
* Banner
**/
.banner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  padding: 0.85rem;
}
.banner--navigation--atom__a {
  color: var(--black);
  padding: 5px;
  background: none;
  border: none;
}
.banner--navigation--atom__a a {
  color: var(--black); 
}
.banner--navigation--atom__a a:hover {
  color: var(--mid-gray);  
}
.banner--navigation--atom__b ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: .5rem;
  padding-left: 0;
}
.banner--navigation--atom__b a {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: .8125rem;
  font-weight: 700;
}
.banner--navigation--atom__b a:hover {
  text-decoration: underline;
}
.banner--utility--atom__a {
  color: var(--black);
  padding: 5px;
  background: none;
  border: none;
}
.banner--utility--atom__a a {
  color: var(--black); 
}
.banner--utility--atom__a a:hover {
  color: var(--mid-gray);  
}
.banner--utility--atom__b a {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: .8125rem;
  font-weight: 700;
  margin: 0 0.375rem;
}
.banner--utility--atom__b a:hover {
  text-decoration: underline;
}
.banner--utility--atom__c a {
  background-color: var(--yellow);
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: .8125rem;
  font-weight: 700;
  padding: 15px;
}
.banner--utility--atom__d {
  color: var(--black);
  padding: 5px;
  background: none;
  border: none;
}
.banner--utility--atom__d a {
  color: var(--black); 
}
.banner--utility--atom__d a:hover {
  color: var(--mid-gray);  
}
.banner--utility--atom__e {
  color: var(--black);
  padding: 5px;
  background: none;
  border: none;
}
.banner--utility--atom__e a {
  color: var(--black); 
}
.banner--utility--atom__e a:hover {
  color: var(--mid-gray);  
}
.banner--navigation {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}
.banner--utility {
  display: flex;
  gap: 0.5rem;
}

/**
* Header
**/
.header {
  display: flex;
  justify-content: space-between;
}
.header--atoms {
  display: flex;
}
.header--atom__a {
  max-width: 12rem;
  margin: 0.625rem 0;
}
.header--atom__a p {
  margin: 0;
}
.header--atom__a img {
  width: 60%;
}
.header img {
  max-width: 44rem;
}
.header--atom__c {
  max-width: 12rem;
  margin: 0.625rem 0;
  text-align: right;
}
.header--atom__c p {
  margin: 0;
}
.header--atom__c img {
  width: 65%;
  margin-left: auto;
}

/**
* Nav
**/
.nav--atom {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  font-family: serif;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  justify-content: center;
  color: var(--black);
  gap: 0.5rem;
  }
.nav--atom {
  padding: .625rem;
  margin: 0;
  padding-left: 0;
}
.nav--atom a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1rem;
  padding: 0;
  }
.nav--atom a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  }

/**
* Article
**/
