/**
*Kevin Pitman, MCAD, Web Development Fall 25, Design System Study
*All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights.
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  --black: #000;
  --white: #fff;
  --neutral-gray: #fdfcf3;
  --light-yellow: #fdfbe4;
  --dark-gray: #2a2929;
  --mid-gray: #6e6e6e;
  --yellow: #ffc500;
  --light-blue: #64d5ff;
  --mid-light-gray: #e7e7e7;
  --font-serif: "plantin", sans-serif;
  --font-sans-serif: "helvetica-neue-lt-pro", sans-serif;
}

/**
* Typography
**/
body {
  background-color: var(--white);
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.444rem;
  letter-spacing: -.01rem;
  font-variant-numeric: oldstyle-nums;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
  color: var(--black);
  font-weight: 600;
  word-wrap: break-word;
}
h1{
  font-size: ;
  text-transform: uppercase;
}
h2{
  font-size: 2rem;
  line-height: 1.2;
}
h3{
  font-size: 1.25rem;
  line-height: 1.25;
}

img {
  max-width: 100%;
  display: block;
}

/**
* Component
**/
.component img {
  max-width: initial;
}

.component__img {
  border: 1px solid var(--mid-gray);
  overflow-x: auto;
}

.component__code {
  border: 1px solid var(--mid-gray);
}

/**
* Header
**/
