/**
*Kevin Pitman, MCAD, Web Development Fall 25, Design System Study
*All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights.
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  --black: #000;
  --white: #fff;
  --neutral-gray: #fdfcf3;
  --light-yellow: #fdfbe4;
  --dark-gray: #2a2929;
  --mid-gray: #6e6e6e;
  --yellow: #ffc500;
  --light-blue: #64d5ff;
  --mid-light-gray: #e7e7e7;
  --font-serif: "plantin", sans-serif;
  --font-sans-serif: "helvetica-neue-lt-pro", sans-serif;
}

/**
* Global Styling
**/
body {
  background-color: var(--white);
  font-family: var(--font-serif);
  color: var(--black);
  /* font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.444rem;
  letter-spacing: -.01rem; */
  font-variant-numeric: oldstyle-nums;
}

h1,
h2,
h3 {
  /* font-family: var(--font-serif); */
  /* font-weight: 600; */
  /* word-wrap: break-word; */
}
h1 {
  /* font-size: 30rem;
  text-transform: uppercase; */
}
h2 {
  /* font-size: 2rem;
  line-height: 1.2; */
}
h3 {
  /* font-size: 1.25rem;
  line-height: 1.25; */
}
img {
  max-width: 100%;
  display: block;
}

/**
* Component Page Style
**/
.component--body {
  max-width: 81rem;
  margin: auto;
}

/**
* Component Banner
**/
.component--banner {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  padding: 1rem 0;
  position: sticky;
  top: 0;
}
.component--banner ul {
  list-style-type: none;
  display: flex;
  margin: 0 -2rem;
  gap: .5rem;
}
.component--banner a {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: .8125rem;
  font-weight: 700;
}
.component--banner a:hover {
  text-decoration: underline;
}

/**
* Component Header
**/
.component--header {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--black);
}
.component--header img {
  max-width: 48rem;
  margin: auto;
}

/**
* Component Nav
**/
.component--nav {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  margin: 0;
  padding: 0.75rem 0;
  position: sticky;
  top: 3.2rem;
}
.component--nav__list {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  gap: .5rem;
  font-size: 1rem;
  margin: 0;
}
.component--nav__list a {
  text-decoration: none;
  color: var(--black);
}
.component--nav__list a:hover {
  text-decoration: underline;
}

/**
* Component Main
**/
.component--main {
  margin: 2rem 0;
}
.component--main__header {
  border-top: 4px solid var(--black);
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}
.component--main__h2 {
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 0;
}

/**
* Component Articles
**/
.component--article {


}
.component--article__h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
}
.component--img {


}


.component--code {


}

/**
* Typography
**/
.component--code__typography {

}






.component__img {
  max-width: initial;
  border: 1px solid var(--mid-gray);
  overflow-x: auto;
}
.component__code {
  border: 1px solid var(--mid-gray);
}