/**
*Kevin Pitman, MCAD, Web Development Fall 25, Design System Study
*All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights.
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  --black: #000;
  --white: #fff;
  --neutral-gray: #fdfcf3;
  --light-yellow: #fdfbe4;
  --dark-gray: #2a2929;
  --mid-gray: #6e6e6e;
  --yellow: #ffc500;
  --light-blue: #64d5ff;
  --mid-light-gray: #e7e7e7;
  --font-serif: "plantin", sans-serif;
  --font-sans-serif: "helvetica-neue-lt-pro", sans-serif;
}
body {
  background-color: aquamarine;
  font-family: var(--font-serif);
  line-height: 1.5rem;
  letter-spacing: -.01rem;
}

h1,
h2,
h3 {
  color: var(--black);
  font-weight: 600;
}

img {
  max-width: 100%;
}

/**
* Header
**/
