<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Kevin Pitman, MCAD, Web Development Fall 25, Design System Study-->
    <!-- All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/oed5cpk.css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet">
    <title>Components | Monocle</title>
</head>
<body>
    <div class="component--body">
    <header class="component--header">
        <section class="component--header__topnav">
            <ul>
            <li>
                <a href="https://github.com/kpitman-mcad/monocle-casestudy/blob/main/assets/Pitman_Kevin_WebSystemStudy_Final.pdf">Preliminary Design</a>
            </li>
            <li>
                <a href="https://kpitman-mcad.github.io/monocle-casestudy">Recreation</a>
            </li>
            <li>
                <a href="https://github.com/kpitman-mcad/monocle-casestudy">GitHub Resources</a>
            </li>
            </ul>
        </section>
    </header>
        <section class="component--header__title">
            <img src="img/monocle-component-title.svg" alt="Monocle Component Library">
        </section>
        <section class="component--header__mainnav">
          <ul class="component--header__mainnav__list">
            <li><a href="@!">Header</a></li>
            <li>&#124;</li>
            <li><a href="@!">Articles</a></li>
            <li>&#124;</li>
            <li><a href="@!">Radio</a></li>
            <li>&#124;</li>
            <li><a href="@!">Featured</a></li>
            <li>&#124;</li>
            <li><a href="@!">Travel</a></li>
            <li>&#124;</li>
            <li><a href="@!">Categories</a></li>
            <li>&#124;</li>
            <li><a href="@!">Shopping</a></li>
            <li>&#124;</li>
            <li><a href="@!">Partners</a></li>
            <li>&#124;</li>
            <li><a href="@!">Events</a></li>
            <li>&#124;</li>
            <li><a href="@!">Subscribe</a></li>
            <li>&#124;</li>
            <li><a href="@!">Footer</a></li>
          </ul>
        </section>

    <main>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
                <img src="img/main--featured__body.jpg" alt="body copy">
            </div>
            <div class="component__code">
            <p>
                Having converted their centuries old farmhouse at the gateway to the Dolomites into a guesthouse with five apartments, Christa and Andreas Klotzner called in designer Harry Thaler to supply some final touches.
            </p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">h1, h2, h3</h3>
            <div class="component__img">
                <img src="img/header--logo__h1.jpg" alt="body copy">
                <img src="img/main--featured__h2.jpg" alt="h2">
                <img src="img/main--cards__h3.jpg" alt="h3">
            </div>
            <div class="component__code">
            <p>
                <h1>Monocle</h1>
                <h2>Designer Harry Thaler's breathtaking Dolomites farmhouse transformation</h2>
                <h3>Want to sharpen your pen? Learn from a master of the lens</h3>
            </p>
            </div>
        </article>



        <h3>a</h3>
        <img src="" alt="a">

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>

    </main>
    </div>
</body>
</html>