<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Kevin Pitman, MCAD, Web Development Fall 25, Design System Study-->
    <!-- All images and text are sourced from the Monocle.com website, and are used here expressly for educational purposes. Monocle holds all copyrights. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/oed5cpk.css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet">
    <title>Components | Monocle</title>
</head>
<body>
    
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">body</h3>
        <img src="img/main--featured__body.jpg" alt="body copy">

        <div class="component__code">
           <p>
            Having converted their centuries old farmhouse at the gateway to the Dolomites into a guesthouse with five apartments, Christa and Andreas Klotzner called in designer Harry Thaler to supply some final touches.
           </p>
        </div>
    </article>



    <h3>h1</h3>
    <img src="img/header--logo__h1.jpg" alt="h1">

    <h3>h2</h3>
    <img src="img/main--featured__h2.jpg" alt="h2">

    <h3>h3</h3>
    <img src="img/main--cards__h3.jpg" alt="h3">

    <h3>a</h3>
    <img src="" alt="a">

</body>
</html>